<head>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.429.0.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        var lambda;
        var username = "";
        var region = "us-east-1";

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var email = profile.getEmail();
            username = email.split('@')[0];
            if (profile.getEmail()) {
                var idToken = googleUser.getAuthResponse().id_token;
                // Add the Google access token to the Cognito credentials login map.
                AWS.config.credentials = new AWS.CognitoIdentityCredentials({
                    IdentityPoolId: '**your id pool arn here**',
                    Logins: {
                    'accounts.google.com': idToken
                    }
                });
                AWS.config.update ({region: region});
                lambda = new AWS.Lambda({region: region, apiVersion: '2015-03-31'});
            }
        }

        function allowlist() {
            var ip = document.getElementById('ip').value;
            var params = {
                username: username,
                ip: ip
            };
            var payload = JSON.stringify(params);
            lambda.invoke({
                FunctionName: "myhomeip",
                Payload: payload
            }, function(err, data){
                if (err) {
                    window.alert("error: "+err.stack);
                }
                else {
                    window.alert("IP Address Confirmed");
                }
            });
        }

        function fillIp() {
            $.getJSON('https://api.ipify.org/?format=json', function(data) {
                ipLocal = data['ip'];
                console.log(ipLocal)
                document.getElementById("ip").value = data['ip'];
            });
        }
    </script>
</head>
<body onload="fillIp()">
    <meta name="google-signin-scope" content="email">
    <meta name="google-signin-client_id" content="** your client application id here **">
    <div id="google-signin-button" class="g-signin2 is-pulled-right" data-onsuccess="onSignIn"></div>
    <h1> Enter IP to be allowlisted below </h1>
    <form>
        <input id = "ip" type="text">
        <input value="Submit!"  onclick="allowlist()" type = "button">
    </form>
</body>